:root {
  --background-color: #f5f5f5;
  --text-color: #000;
  --primary-color: #007bff;
  --secondary-color: #ddd;
  --mode-color: #fff;
  --border-color: #546e7a;
  --hover-color: #0056b3;
  --label-color: #455a64;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #fff;
    --primary-color: #007bff;
    --secondary-color: #263238;
    --mode-color: #000;
    --border-color: #546e7a;
    --hover-color: #0056b3;
    --label-color: #cfd8dc;
  }
}

* {
  font-family: system-ui, sans-serif;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
}

h2 {
  text-align: center;
}

#setup,
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

label {
  font-weight: bold;
  color: var(--label-color);
}

select,
button {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

select {
  background: transparent;
}

button:hover {
  background-color: var(--hover-color);
  color: var(--mode-color);
  border-color: var(--mode-color);
}

section {
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1rem;
  text-wrap: pretty;
  border: 0.5px solid var(--border-color);
  border-radius: 0.6rem;
  padding: 0.8rem;
}

p {
  margin: 1rem;
  color: var(--label-color);
}